DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_GUILD_ID=
DISCORD_CHANNEL_ID=
DISCORD_PUBLIC_KEY=

PALWORLD_HOST=135.148.100.61
PALWORLD_PORT=25586
PALWORLD_USERNAME=admin
PALWORLD_PASSWORD=

SERVER_DISPLAY_NAME=The Tribal Lands
STATUS_UPDATE_SECONDS=60
OFFLINE_FAILURE_THRESHOLD=2
STATUS_MESSAGE_ID=
